@tailwind base;
@tailwind components;
@tailwind utilities;

 /* Colors */
:root {
  --lightest: #EE4540;
  --lighter: #C72C41;
  --light: #801336;
  --dark: #510A32;
  --darker: #2D142C;
  --darkest: #1A1A1A;
}

/* Keyframes */

@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.5s ease-out forwards;
}

.animate-fade-in-left {
  animation: fade-in-left 0.5s ease-out forwards;
}



